<div class="content" id="panel2">
    <!--data-ng-controller="paymentCtrl"-->
    <div class="search_panel cf">
        <form class="large-5 columns left_oriented">
            <label>
                <span>Search</span>
                <input type="text" />
            </label>
        </form>
        <form class="large-5 columns left_oriented">
            <label>
                <span>Sort by</span>
                <select>
                    <option>name</option>
                    <option>amoutn</option>
                    <option>date</option>
                    <option>gateway</option>
                    <option>status</option>
                </select>
            </label>
        </form>
        <div class="large-2 columns left_oriented search_btn_box">
            <a href="#" class="small button border_radius green">Search</a>
        </div>
    </div>
    <table class="standart_table" id="report2">
        <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th class="not_mobile_cell">Date</th>
            <th class="not_mobile_cell">Gateway</th>
            <th class="not_mobile_cell">Status</th>
            <th class="centered_cell">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Olena Shpilevska</td>
            <td>AUD 100.00</td>
            <td class="not_mobile_cell">27 Mar 2015</td>
            <td class="not_mobile_cell">PinPayments</td>
            <td class="not_mobile_cell">Complete</td>
            <td class="centered_cell">
                <a href="#" class="small button border_radius green">Details</a>
            </td>
        </tr>
        <tr class="details_wrap">
            <td class="details_block" colspan="6">
                <div class="mobile_block">
                    <p>Date: 27 Mar 2015</p>
                    <p>Gateway: PinPayments</p>
                    <p>Status: Complete</p>
                </div>
                <table class="standart_table subtable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th class="not_mobile_cell">Date</th>
                        <th class="not_mobile_cell">Gateway</th>
                        <th class="not_mobile_cell">Status</th>
                        <th class="centered_cell">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Olena Shpilevska</td>
                        <td>AUD 100.00</td>
                        <td class="not_mobile_cell">27 Mar 2015</td>
                        <td class="not_mobile_cell">PinPayments</td>
                        <td class="not_mobile_cell">Complete</td>
                        <td class="centered_cell">
                            <a href="#" class="xsmall button border_radius green">Details</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Olena Shpilevska</td>
                        <td>AUD 100.00</td>
                        <td class="not_mobile_cell">27 Mar 2015</td>
                        <td class="not_mobile_cell">PinPayments</td>
                        <td class="not_mobile_cell">Complete</td>
                        <td class="centered_cell">
                            <a href="#" class="xsmall button border_radius green">Details</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
