<div class="content" id="panel3">
    <div class="search_panel cf">
        <form class="large-5 columns left_oriented">
            <label>
                <span>Search</span>
                <input type="text" />
            </label>
        </form>
        <form class="large-5 columns left_oriented">
            <label>
                <span>Sort by</span>
                <select>
                    <option>name</option>
                    <option>amoutn</option>
                    <option>date</option>
                    <option>gateway</option>
                    <option>status</option>
                </select>
            </label>
        </form>
        <div class="large-2 columns search_btn_box left_oriented">
            <a href="#" class="small button border_radius green">Search</a>
        </div>
    </div>
    <table class="standart_table" id="report3">
        <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th class="not_mobile_cell">Date</th>
            <th class="not_mobile_cell">Gateway</th>
            <th class="not_mobile_cell">Status</th>
            <th class="centered_cell">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Olena Shpilevska</td>
            <td>AUD 100.00</td>
            <td class="not_mobile_cell">27 Mar 2015</td>
            <td class="not_mobile_cell">PinPayments</td>
            <td class="not_mobile_cell">Complete</td>
            <td class="centered_cell">
                <a href="#" class="small button border_radius green">Edit</a>
            </td>
        </tr>
        <tr class="details_wrap">
            <td class="details_block" colspan="6">
                <div class="mobile_block">
                    <p>Date: 27 Mar 2015</p>
                    <p>Gateway: PinPayments</p>
                    <p>Status: Complete</p>
                </div>
                <div class="mobile_fullWidth_block">
                    <div class="cf">
                        <p class="details_title">Payer Information</p>
                        <form class="large-6 columns left_oriented">
                            <label>
                                First Name
                                <input type="text" />
                            </label>
                        </form>
                        <form class="large-6 columns left_oriented">
                            <label>
                                Last Name
                                <input type="text" />
                            </label>
                        </form>
                        <form class="large-6 columns left_oriented">
                            <label>
                                Email
                                <input type="text" />
                            </label>
                        </form>
                        <form class="large-6 columns left_oriented">
                        </form>
                    </div>
                    <div class="cf">
                        <p class="details_title">Payer Settings</p>
                        <form class="large-6 columns left_oriented">
                            <label>
                                Amount*
                                <input type="text" />
                            </label>
                        </form>
                        <form class="large-6 columns left_oriented">
                            <label>
                                Transaction Reference
                                <input type="text" />
                            </label>
                        </form>
                        <form class="large-6 columns left_oriented">
                            <label>
                                Internal
                                <select>
                                    <option>Daily</option>
                                    <option>Monthly</option>
                                </select>
                            </label>
                        </form>
                        <form class="large-6 columns left_oriented">
                            <label>
                                Frequency
                                <input type="text" />
                            </label>
                        </form>
                        <form class="large-6 columns left_oriented">
                            <label>Start Date</label>
                            <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                <input class="span2" size="16" type="text" value="12-02-2012">
                                <span class="add-on"><i class="step fi-calendar"></i></span>
                            </div>
                        </form>
                        <form class="large-6 columns left_oriented">
                            <label>End Date</label>
                            <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                <input class="span2" size="16" type="text" value="12-02-2012">
                                <span class="add-on"><i class="step fi-calendar"></i></i></span>
                            </div>
                        </form>
                    </div>
                    <div class="btns_row cf">
                        <a href="#" class="small button border_radius green">Edit Charge</a>
                        <a href="#" class="small button border_radius green">Cancel</a>
                        <a href="#" class="small button border_radius green">Delete</a>
                    </div>
                </div>
                <div class="mobile_fullWidth_block">
                    <div class="cf">
                        <p class="details_title">Card &amp; Payment Info</p>
                        <table class="standart_table table_with_mrgn">
                            <tbody>
                            <tr>
                                <td>Card Hash</td>
                                <td>*******************00</td>
                            </tr>
                            <tr>
                                <td>Card Expiration</td>
                                <td>5/2016</td>
                            </tr>
                            <tr>
                                <td>Card Scheme</td>
                                <td>Visa</td>
                            </tr>
                            <tr>
                                <td>Token</td>
                                <td>cus_V1oVERiyzibVsmps7zpwxA</td>
                            </tr>
                            <tr>
                                <td>Currency</td>
                                <td>AUD</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cf">
                        <p class="details_title">Card &amp; Payment Info</p>
                        <table class="standart_table">
                            <tbody>
                            <tr>
                                <td>Number of Successful Transactions</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td>Total Amount Collected</td>
                                <td>$12000</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="btns_row one">
                            <a href="#" class="small button border_radius green">View Transactions</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>