<div class="tabs_box">
    <ul class="tabs" data-tab>
        <!--<li class="tab-title active"><a href="#panel1">Transactions</a></li>
        <li class="tab-title"><a href="#panel2">Charges</a></li>
        <li class="tab-title"><a href="#panel3">Subscriptions</a></li>-->
        <li class="tab-title active"><a ng-href="#/payments/transactions">Transactions</a></li>
        <li class="tab-title active"><a ng-href="#/payments/charges">Charges</a></li>
        <li class="tab-title active"><a ng-href="#/payments/subscriptions">Subscriptions</a></li>
    </ul>

   <!-- <div class="tabs-content border_radius">
    </div>-->
</div>