<!DOCTYPE html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Envoy Recharge</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/main.lib.css">
    <link rel="stylesheet" href="/css/main.app.css">
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/css/notSupportIE.css">
    <![endif]-->
</head>

<body class="login" ng-controller="auth.UpdatePasswordCtrl">

<div data-offcanvas="data-offcanvas" class="off-canvas-wrap maxHeight">
    <div class="inner-wrap maxHeight">
        <div class="row fullWidth maxHeight">
            <div class="large-12 columns maxHeight login_page">

                <!--LOGO & MOTTO-->
                <div class="logo_motto">
                    <img src="/images/logo.png">

                    <p>The new payments democracy</p>
                </div>

                <!--TABS-->
                <div class="login_page_wrp">
                    <div class="tabs_box">


                        <div class="tabs-content border_radius">
                            <div class="content active login_page_form">
                                <form name="updatePasswordForm" class="stylized-form" ng-submit="updatePassword()">
                                    <div class="relative-container">
                                        <input class="tip-left"
                                               type="password"
                                               name="password"
                                               placeholder="Enter new password"
                                               ng-model="password"
                                               ng-minlength="8"
                                               ng-maxlength="50"
                                               required
                                               validate-tooltip
                                               error-text="{
                                                    minlength: 'Min length 8 characters',
                                                    maxlength: 'Max length 50 characters',
                                                    required: 'Enter new password'
                                               }" />

                                        <i class="step fi-unlock"></i>
                                    </div>

                                    <div class="relative-container">
                                        <input class="tip-right"
                                               type="password"
                                               name="confirm_password"
                                               placeholder="Confirm your password"
                                               required
                                               password-verify="password"
                                               ng-model="confPassword"
                                               validate-tooltip
                                               error-text="{
                                                    passwordVerify: 'Passwords must match',
                                                    required: 'Confirm your password'
                                               }" />

                                        <i class="step fi-unlock"></i>
                                    </div>

                                    <!--message-->
                                    <div class="login_msg last"
                                         clean-tmp-text="action"
                                         duration="1000" >
                                    </div>

                                    <button class="small button border_radius green"
                                            type="submit"
                                            ng-disabled="updatePasswordForm.$invalid">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="/js/main.lib.js"></script>
<script src="/js/login.app.js"></script>
<script src="../app/lib/js/scripts.js"></script>


<!--<script>
    $(document).foundation({
        tab: {
          callback : function (tab) {
            console.log(tab);
          }
        }
    });
</script>-->

<!--------------------- Internet Explorer ---------------------------->
<div class="not-support-ie" style="display: none">
    <div class="info-box">
        Sorry but your Internet Explorer version is not supported :(
    </div>
</div>
</body>
</html>